/*
* @Author: Administrator
* @Date:   2017-10-25 14:01:10
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-10 15:11:01
*/
*{ margin: 0px; padding: 0px; font-size: 12px;}
#main{ background-image: url('../img/background-index.JPG'); background-repeat: no-repeat; height: 1080px; width: 1920px; position: relative; }
img{cursor: pointer; }
span{font-size: 14px;cursor: auto!important;}
/* 发光闪烁 */	
@-webkit-keyframes greenPulse {
	from { background-color: #fff; -webkit-box-shadow: 0 0 9px #fff; }
	50% { background-color: #ffd536; -webkit-box-shadow: 0 0 27px #ffd536; }
	to { background-color: #fff; -webkit-box-shadow: 0 0 9px #fff; }
}		
li{ list-style:none; }
a{ color: black; text-decoration: none; margin-left: 10px;}
a:hover{ color: black;}
#chaozhousign,#zhanjiangsign,#hainansign,#zhongshansign,#guangfusign,#shanweihaifengsign,#shanweilufengsign,#meizhousign{ animation:greenPulse 1s infinite; width: 35px; height: 35px;border-radius: 50%; }
#chaozhou li,#zhanjiang li,#hainan li,#zhongshan li,#guangfu li,#shanweihaifeng li,#shanweilufeng li,#meizhou li{margin-top: 10px; }
#chaozhou li:hover,#zhanjiang li:hover,#hainan li:hover,#zhongshan li:hover,#guangfu li:hover,#shanweihaifeng li:hover,#shanweilufeng li:hover,#meizhou li:hover{background-color: #fae3df; }
#chaozhou,#zhanjiang,#hainan,#zhongshan,#guangfu,#shanweihaifeng,#shanweilufeng,#meizhou{ overflow-y:auto;overflow-x:hidden; z-index: 1; }

.chaozhou:hover,.shantou:hover,.zhanjiang:hover,.hainan:hover{cursor: pointer;}
* 经过列表鼠标指针表位小手形 */
#chaozhoulist li,#shantoulist li,#zhanjianglist li,#hainanlist li,#zhongshanlist li,#guangfulist li,#shanweihaifenglist li,#shanweilufenglist li,#qingyuanlist li,#meizhoulist li,#kejialist li { cursor: pointer; }
/* 列表位置 */
#chaozhoulist,#shantoulist,#zhanjianglist,#hainanlist,#zhongshanlist,#guangfulist,#shanweihaifenglist,#shanweilufenglist,#qingyuanlist,#meizhoulist,#kejialist{ position: absolute; top: 20px; left: 30px; }
/* 潮州 */
#chaozhoumain{ position: absolute; top: 380px; left: 1360px; }
#chaozhou{ display: none; width: 270px; height: 160px; border-radius: 10%; background-color: #FEF7F6; border: 2px solid #E0DFDA; position: absolute; top: -10px; left: 25px; }
/* 雷州市 */
#zhanjiangmain{ position: absolute; top: 690px; left: 630px; }
#zhanjiang{ display: none; width: 190px; height: 100px; border-radius: 10%; background-color: #FEF7F6; border: 2px solid #E0DFDA; position: absolute; top: -10px; left: 25px; }
/* 海南 */
#hainanmain{ position: absolute; top: 890px; left: 600px; }
#hainan{ display: none; width: 150px; height: 100px; border-radius: 10%; background-color: #FEF7F6; border: 2px solid #E0DFDA; position: absolute; top: -10px; left: 25px; }
/* 海南省临高县 */
#zhongshanmain{ position: absolute; top: 800px; left: 580px; }
#zhongshan{ display: none; width: 170px; height: 100px; border-radius: 10%; background-color: #FEF7F6; border: 2px solid #E0DFDA; position: absolute; top: -10px; left: 25px; }
/* 广州粤剧 */
#guangfumain{ position: absolute; top: 450px; left: 970px; }
#guangfu{ display: none; width: 170px; height: 130px; border-radius: 10%; background-color: #FEF7F6; border: 2px solid #E0DFDA; position: absolute; top: -10px; left: 25px; }
/* 汕尾海丰*/
#shanweihaifengmain{ position: absolute; top: 440px; left: 1170px; }
#shanweihaifeng{ display: none; width: 190px; height: 170px; border-radius: 10%; background-color: #FEF7F6; border: 2px solid #E0DFDA; position: absolute; top: -10px; left: 25px; }
/* 汕尾陆丰*/
#shanweilufengmain{ position: absolute; top: 450px; left: 1240px; }
#shanweilufeng{ display: none; width: 240px; height: 170px; border-radius: 8%; background-color: #FEF7F6; border: 2px solid #E0DFDA; position: absolute; top: -10px; left: 25px; }
/* 梅州*/
#meizhoumain{ position: absolute; top: 280px; left: 1265px; }
#meizhou{ display: none; width: 230px; height: 160px; border-radius: 10%; background-color: #FEF7F6; border: 2px solid #E0DFDA; position: absolute; top: -10px; left: 25px; }
